<% layout('layouts/boilerplate') %>


<div class="top ui centered container">
  <header class="jumbotron">
    <h1><i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
    <p>View our handpicked campgrounds from all over the world!</p>
    <p>
      <button class="btn btn-primary btn-large" onclick=window.location.href="/yelpcamp/campgrounds/new">Add New
        Campground</button>
    </p>
  </header>
</div>

<div id="map" class="mb-5">



</div>

<div id="card-list" class="ui container">

  <div class="ui grid mb-3">
    <% for(let campground of allCamps) {%>
    <div id="camps" class="card col-xs-6 col-sm-4 col-md-3 col-lg-3 mb-2">

      <div class="thumbnail">
        <div class="preview">
          <% if (campground.images.length) {%>
          <img class="img-thumbnail card-fluid" src="<%=campground.images[0].url%>" alt="">
          <% } else {%>
          <img class="img-thumbnail card-fluid" src="https://via.placeholder.com/200" alt="">
          <%}%>
        </div>
        <div class="card-body">
          <div class="caption">
            <h5 class="card-title"> <%= campground.title %> </h5>
        </div>
        <p class="more">

          <a class="button" href="/yelpcamp/campgrounds/<%= campground._id %>"><button class="btn btn-primary"> More
              Info</button></a>

        </p>
      </div>
    </div>

  </div>


  <%}%> 
  </div>

</div>
<script>
  const mapToken = '<%=process.env.MAPBOX_TOKEN%>';
  const campgrounds = {features: <%-JSON.stringify(allCamps)%>};
</script>

<script src="/javascript/clusterMap.js"></script>
